RIVER QUALITY MONITORING/FINAL DELIVERABLES/flows.json
[{"id":"4e4e7cd7af63d5a5","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"b1b11140.4e4ef","type":"inject","z":"4e4e7cd7af63d5a5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Hello Node-RED!","payloadType":"str","x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"4e4e7cd7af63d5a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":615,"y":70,"wires":[]},{"id":"b7cc182008419080","type":"http in","z":"4e4e7cd7af63d5a5","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":175,"y":240,"wires":[["fcb34b39fe58b209"]],"l":false},{"id":"2d55cd992aba6a1c","type":"http response","z":"4e4e7cd7af63d5a5","name":"","statusCode":"","headers":{},"x":535,"y":200,"wires":[],"l":false},{"id":"82c2440a57dfed06","type":"function","z":"4e4e7cd7af63d5a5","name":"","func":"msg.payload = msg.payload.temp\nglobal.set(\"t\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":365,"y":120,"wires":[["f2f2649a.0d0d98"]],"l":false},{"id":"fcb34b39fe58b209","type":"function","z":"4e4e7cd7af63d5a5","name":"","func":"msg.payload={\"temp\" : global.get('t'),\"Humid\": global.get('h')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":365,"y":240,"wires":[["2d55cd992aba6a1c"]],"l":false},{"id":"efaef928ee6bd315","type":"function","z":"4e4e7cd7af63d5a5","name":"","func":"\nmsg.payload = msg.payload.Humid\nglobal.set(\"h\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":365,"y":180,"wires":[["f2f2649a.0d0d98"]],"l":false},{"id":"f75a24f6f4d5a9b6","type":"http in","z":"4e4e7cd7af63d5a5","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":220,"y":320,"wires":[["096c44c27109ca9f","177cc72fcaddf916","123751c70357f5b0"]]},{"id":"096c44c27109ca9f","type":"http response","z":"4e4e7cd7af63d5a5","name":"","statusCode":"","headers":{},"x":610,"y":260,"wires":[]},{"id":"177cc72fcaddf916","type":"debug","z":"4e4e7cd7af63d5a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":320,"wires":[]},{"id":"3b1404d6249a7788","type":"ibmiot in","z":"4e4e7cd7af63d5a5","authentication":"apiKey","apiKey":"af7d161c365fed8f","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"sensor1","applicationId":"","deviceType":"sensor","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":155,"y":120,"wires":[["82c2440a57dfed06","efaef928ee6bd315"]],"l":false},{"id":"123751c70357f5b0","type":"ibmiot out","z":"4e4e7cd7af63d5a5","authentication":"apiKey","apiKey":"af7d161c365fed8f","outputType":"evt","deviceId":" sensor1","deviceType":" sensor","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":400,"wires":[]},{"id":"af7d161c365fed8f","type":"ibmiot","name":"Sensor","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]